mock-interview-platform/backend/node_modules/*
mock-interview-platform/frontend/node_modules/*
mock-interview-platform/.*/*

*.log
nul
**/.env
mock-interview-platform/frontend/build/*
**/pnpm-lock.yaml
